* {
    margin: 0;
    padding: 0;
    font-family: "Signika", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
}

body {
    background-image: url(../../../ASSETS/image/FONDO04.png);
    background-size: cover;  /* Hace que la imagen cubra todo el contenedor */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    background-attachment: fixed;  /* Mantiene la imagen fija al hacer scroll */
    min-height: 100vh;
}
.col-md-12 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: white;

}
#tabla {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: white;
}

#tabla th,
#tabla td {
    color: white !important;  /* Usando !important para sobrescribir estilos de Bootstrap */
}

#tabla thead th {
    color: white !important;
}

#tabla tbody td {
    color: white !important;
}
